<div>
    <h2 id="page-heading">
        <span jhiTranslate="menhirApp.individu.home.title">Individus</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-individu" [routerLink]="['/individu/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="menhirApp.individu.home.createLabel">
            Create a new Individu
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="individus?.length === 0">
        <span jhiTranslate="menhirApp.individu.home.notFound">No individus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="individus && individus.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="menhirApp.individu.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taille"><span jhiTranslate="menhirApp.individu.taille">Taille</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDeNaissance"><span jhiTranslate="menhirApp.individu.dateDeNaissance">Date De Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="couleurCheveux"><span jhiTranslate="menhirApp.individu.couleurCheveux">Couleur Cheveux</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coiffure"><span jhiTranslate="menhirApp.individu.coiffure">Coiffure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="menhirApp.individu.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let individu of individus ;trackBy: trackId">
                    <td><a [routerLink]="['/individu', individu.id, 'view']">{{ individu.id }}</a></td>
                    <td>{{ individu.nom }}</td>
                    <td>{{ individu.taille }}</td>
                    <td>{{ individu.dateDeNaissance | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'menhirApp.Couleur.' + individu.couleurCheveux }}">{{ individu.couleurCheveux }}</td>
                    <td>{{ individu.coiffure }}</td>
                    <td>
                        <a *ngIf="individu.photo" (click)="openFile(individu.photoContentType, individu.photo)">
                            <img [src]="'data:' + individu.photoContentType + ';base64,' + individu.photo" style="max-height: 30px;" alt="individu image"/>
                        </a>
                        <span *ngIf="individu.photo">{{ individu.photoContentType }}, {{ byteSize(individu.photo) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/individu', individu.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/individu', individu.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(individu)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="individus && individus.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
